extends layout

block content
    div.w3-display-middle.w3-text-teal
        h2 Welcome to accident map!
        h3 Please, decide, which map do you want to load or use default
        h4 Default = USA accident map from 2016 to June 2020
        h4 Your map = map in CSV format
        div.w3-bar
            button.w3-button.w3-purple.w3-bar-item(style="width:50%", onclick='location.href="/map"') Default
            button.w3-button.w3-deep-purple.w3-bar-item(style="width:50%") My map